.residentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-image: url(/src/assets/HeaderImage.jpg);
    background-color: #1b3f42;
    /* Se usara si la imagen no esta disponible */
    height: 200px;
    /* se necesita especificar la altura */
    background-position: center;
    background-repeat: no-repeat;
    /* no repetir la imagen */
    background-size: cover;
}

@media (max-width: 400px) {
    .residentForm {
        height: 220px;
    }
}

@media (max-width: 800px) {
    .residentForm {
        height: 350px;
    }
}

@media (max-width: 470px) {
    .residentForm {
        height: 220px;
    }
}

@media (min-width: 800px) {
    .residentForm {
        height: 350px;
    }
}


.residentForm__form {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 350px;
    position: relative;
    overflow: hidden;
}

.residentForm__title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.residentForm__title-img {
    width: auto;
    min-height: auto;
    padding: 0;
    margin: 0;
}

.residentForm__input {
    width: 80%;
    height: 60px;
    background-color: #1b3f42;
    color: #c1da43;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    border: none;
    outline: 0px;
}

.residentForm__input::placeholder {
    color: #44b4cc;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

.residentForm__lbl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    pointer-events: none;
    border-bottom: 3px solid #c1da43;
}

.residentForm__lbl::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #44b4cc;
    transform: translateX(-100%);
    transition: all .7s ease;
}

.residentForm__lbl-txt {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all .7s ease;
    color: #c1da43;
}

.residentForm__input:focus+.residentForm__lbl::after {
    transform: translateX(0%);
}

.residentForm__btn {
    display: flex;
    width: 20%;
    height: 60px;
    background-color: #44b4cc;
    /* se necesita especifica#1b3fr la altura */
    background-position: center;
    background-repeat: no-repeat;
    /* no repetir la imagen */
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #c1da43;
    font-weight: 700;
    font-size: 28px;
    transition: background-color, color 0.8s ease;
}

.residentForm__btn:hover { 
    background-color: #c1da43;
    color: #1b3f42;
}

