.residentCard {
    background-color: #448981;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 2px 10px black;
    transition: transform 200px ease;
    
}

.residentCard:hover {
    transform: scale(1.05);
}

.residentCard__img {
    background-size: cover;
}

.residentCard__status {
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #1b3f42;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.residentCard__status-name {
    font-weight: normal;

}

.residentCard__status-circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.Dead {
    background-color: red;
}

.Alive {
    background-color: green;
}


.residentCard__info {
    padding: 20px;
}

.residentCard__name {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: left;
}

.residentCard__line {
    position: relative;
    width: 200%;
    left: -40px;
}

.residentCard__list {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.residentCard__item {
    line-height: 20px;
}

.residentCard__item span{
    color: #1b3f42;
    font-weight: bold;
    display: block;
}